<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Customer wishlist configuration</title>
        <title lang="de-DE">Einstellungen</title>
        <input-field type="bool">
            <name>enableWishlist</name>
            <defaultValue>true</defaultValue>
            <label>Enable wishlist</label>
            <label lang="de-DE">Aktivieren der Beispiel-Importdatei</label>
        </input-field>

    </card>

</config>